<section class="section-title">
  <h2>Exemplo de componente de Acordeão</h2>
</section>

<accordion [isAnimated]="true">
  <accordion-group heading="Header">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nemo fugit recusandae tenetur voluptates accusamus
  </accordion-group>
  <accordion-group heading="Grupo 1">
    <p>Algum conteúdo</p>
  </accordion-group>
  <accordion-group heading="Grupo 3">
    <p>Algum conteúdo</p>
  </accordion-group>
  <accordion-group heading="Grupo 3">
    <p>Algum conteúdo</p>
  </accordion-group>
</accordion>