<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="navbar-logo">
      <button class="btn btn-default btn-toggler" type="button" (click)="toggleMenu()">
        <i class="bi bi-list"></i>
      </button>
      <a class="navbar-brand" href="#">Gestão Financeira</a>
    </div>

    <ul class="navbar-top-links">
      <li class="dropdown" dropdown>
        <a dropdownToggle title="Usuário conectado" class="info_user">
          <i class="bi bi-person user-icon"></i>
          <div class="user-name">{{userInfo}}</div>
          <i class="bi bi-caret-down-fill dropdown-icon"></i>
        </a>
        <ul *dropdownMenu class="dropdown-menu animated fadeInRight" role="menu">
          <li class="dropdown-user-name">
            <div>{{userInfo}}</div>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">
              <i class="bi bi-box-arrow-right"></i> Sair
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="nav-width"></div>
<!-- Left menu bar -->
<app-menu [menuActived]="menuActived"></app-menu>