<section class="section-title">
  <h2>Exemplo de componente de Modal</h2>
</section>

<button type="button" class="btn btn-primary" (click)="openModal(template)">Abrir Modal</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Este é um Modal.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Fechar</button>
  </div>
</ng-template>