#main-content {
  width: 100%;
  margin: 0;
  transition: width 0.3s ease, margin-left 0.3s ease;
  padding: 1.5em;

  &.menu-wrapper-size {
    width: calc(100% - 277px);
    margin-left: 277px;
  }

  @media (max-width: 991px) {
    &.menu-wrapper-size {
      width: 100%;
      margin: 0;
    }

    padding: 1em;
  }
}