registry=https://azuredevops.pro.intra.rs.gov.br/tfs/PROCERGSCollection/_packaging/procergs/npm/registry/

always-auth=true

; begin auth token
//azuredevops.pro.intra.rs.gov.br/tfs/PROCERGSCollection/_packaging/procergs/npm/registry/:username=PROCERGSCollection
//azuredevops.pro.intra.rs.gov.br/tfs/PROCERGSCollection/_packaging/procergs/npm/registry/:_password=eW9pZGUzZ2k0cnM3enZ4dDY0NG54eHduZmw1b2JqNTZmd3VweTd1dHdxbjZnNHlwZTY1cQ==
//azuredevops.pro.intra.rs.gov.br/tfs/PROCERGSCollection/_packaging/procergs/npm/registry/:email=seu email
//azuredevops.pro.intra.rs.gov.br/tfs/PROCERGSCollection/_packaging/procergs/npm/:username=PROCERGSCollection
//azuredevops.pro.intra.rs.gov.br/tfs/PROCERGSCollection/_packaging/procergs/npm/:_password=eW9pZGUzZ2k0cnM3enZ4dDY0NG54eHduZmw1b2JqNTZmd3VweTd1dHdxbjZnNHlwZTY1cQ==
//azuredevops.pro.intra.rs.gov.br/tfs/PROCERGSCollection/_packaging/procergs/npm/:email=seu email
; end auth token