<section class="section-title">
  <div>
    <h2>Exemplo de Formulário</h2>
    <h3>{{actionLabel}}</h3>
  </div>
</section>

<section class="section-form">
  <form [formGroup]="form">
    <div class="form-group row mb-3">
      <div class="col-sm-12 col-xl-8">
        <label for="nomeAlu" class="col-sm-12 pb-1">Nome</label>
        <textarea id="nomeAlu" class="form-control" rows="2" formControlName="nomeAlu" placeholder="Nome do Aluno" maxlength="200"></textarea>
        <app-field-message [field]="fieldMessageRequired('nomeAlu')" [erros]="fieldErros('nomeAlu')"></app-field-message>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class="col-sm-12 col-xl-8">
        <label for="id" class="col-sm-12 pb-1">Matrícula</label>
        <input id="id" class="form-control" formControlName="id" placeholder="Número da Matrícula" mask="0*" />
        <app-field-message [field]="fieldMessageRequired('id')" [erros]="fieldErros('id')"></app-field-message>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class="col-sm-12 col-xl-8">
        <label for="ano" class="col-sm-12 pb-1">Ano</label>
        <input id="ano" class="form-control" formControlName="ano" placeholder="Ano" mask="0*" />
        <app-field-message [field]="fieldMessageRequired('ano')" [erros]="fieldErros('ano')"></app-field-message>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class="col-sm-4">
        <label for="curso" class="col-sm-12 pb-1">Curso</label>
        <ng-select id="curso" class="ng-select-alternative" [items]="list" bindLabel="label" bindValue="id" placeholder="Selecione" formControlName="curso">
        </ng-select>
        <app-field-message [field]="fieldMessageRequired('curso')" [erros]="fieldErros('curso')"></app-field-message>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class="col-sm-4">
        <label for="data" class="col-sm-12 pb-1">Data</label>
        <input id="iptData" class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" formControlName="data" autocomplete="off" />
        <app-field-message [field]="fieldMessageRequired('data')" [erros]="fieldErros('data')"></app-field-message>
      </div>
    </div>

    <div class="form-group row d-flex justify-content-end">
      <div class="col-sm-8 col-sm-offset-2 d-flex justify-content-end gap-3">
        <app-button text="Voltar" classBtn="light" route="/exemplo"></app-button>
        <app-button text="Salvar" classBtn="primary" (click)="salvar()"></app-button>
      </div>
    </div>
  </form>
</section>