@use 'variables' as vars;
@use 'sass:color';

button:focus {
  outline: 0 !important;
}

.btn {
  border-radius: vars.$btn-border-radius;
  font-size: inherit;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:focus {
  box-shadow: none;
}

.btn-xs {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.8rem;
}

.btn-w-m {
  min-width: 120px;
}

.btn-w-g {
  min-width: 170px;

  @media (max-width: 900px) {
    min-width: auto;
  }
}

.btn-primary.btn-outline {
  color: vars.$primaryColor;
}

.btn-success.btn-outline {
  color: vars.$successColor;
}

.btn-info.btn-outline {
  color: vars.$infoColor;
}

.btn-warning.btn-outline {
  color: vars.$warningColor;
}

.btn-danger.btn-outline {
  color: vars.$dangerColor;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
  color: #fff;
  background-color: vars.$primaryColor;
  border-color: vars.$primaryColor;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  background-color: color.adjust(vars.$primaryColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$primaryColor, $lightness: -6.9230769231%);
  color: #ffffff;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: color.adjust(vars.$primaryColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$primaryColor, $lightness: -6.9230769231%);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: color.adjust(vars.$primaryColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$primaryColor, $lightness: -6.9230769231%);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-success {
  color: #fff;
  background-color: vars.$successColor;
  border-color: vars.$successColor;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: color.adjust(vars.$successColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$successColor, $lightness: -6.9230769231%);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: color.adjust(vars.$successColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$successColor, $lightness: -6.9230769231%);
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: color.adjust(vars.$successColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$successColor, $lightness: -6.9230769231%);
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-info {
  color: #fff;
  background-color: vars.$infoColor;
  border-color: vars.$infoColor;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: color.adjust(vars.$infoColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$infoColor, $lightness: -6.9230769231%);
}

.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: color.adjust(vars.$infoColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$infoColor, $lightness: -6.9230769231%);
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: color.adjust(vars.$infoColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$infoColor, $lightness: -6.9230769231%);
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: inherit;
  background: white;
  border: 1px solid vars.$border-color;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default.active:focus {
  color: inherit;
  border: 1px solid #d2d2d2;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  color: #cacaca;
}

.btn-warning {
  color: #ffffff;
  background-color: vars.$warningColor;
  border-color: vars.$warningColor;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: color.adjust(vars.$warningColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$warningColor, $lightness: -6.9230769231%);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: color.adjust(vars.$warningColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$warningColor, $lightness: -6.9230769231%);
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #ffffff;
  background-color: color.adjust(vars.$warningColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$warningColor, $lightness: -6.9230769231%);
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-danger {
  color: #fff;
  background-color: vars.$dangerColor;
  border-color: vars.$dangerColor;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: color.adjust(vars.$dangerColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$dangerColor, $lightness: -6.9230769231%);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: color.adjust(vars.$dangerColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$dangerColor, $lightness: -6.9230769231%);
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: color.adjust(vars.$dangerColor, $lightness: -6.9230769231%);
  border-color: color.adjust(vars.$dangerColor, $lightness: -6.9230769231%);
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-rounded {
  border-radius: 50px;
}

.btn-large-dim {
  width: 90px;
  height: 90px;
  font-size: 42px;
}

button.dim {
  display: inline-block;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: 600;

  &.btn-primary {
    box-shadow: 0 5px 0 color.adjust(vars.$primaryColor, $lightness: -6.9230769231%);
  }

  &:active {
    top: 3px;
    box-shadow: 0 2px 0 color.adjust(vars.$primaryColor, $lightness: -6.9230769231%);
  }
}
