@use 'variables' as vars;

.navbar {
  background-color: #fff;
  height: 80px;
  padding: 0 25px 0 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -3px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  width: 100%;
  z-index: 99;

  .navbar-logo {
    display: flex;
    flex-direction: row;
  }

  .navbar-brand {
    font-size: 1.5em;
    color: vars.$primaryColor;
    margin: 0 0 0 20px;
  }

  .btn-toggler {
    padding: 0;
    border: 0;

    i {
      color: vars.$primaryColor;
      font-size: 1.8em;
    }
  }

  .navbar-top-links {
    display: flex;
    align-items: center;
    margin: 0;

    li {
      list-style: none;

      a {
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 14px;
        font-weight: normal;
        color: white;
        margin: 0;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
        text-decoration: none;
        cursor: pointer;
      }

      .info_user {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;

        .dropdown-icon {
          margin: 4px 0 0 4px;
          font-size: 12px;
          color: vars.$primaryColor;
        }

        @media (max-width: 500px) {
          .user-name {
            display: none;
          }
        }

        .user-icon {
          font-size: 20px;
          margin-right: 4px;
          color: vars.$primaryColor;
        }
      }
    }

    .dropdown {
      .dropdown-menu {
        right: 0px !important;
        left: auto !important;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
        border-radius: 8px;
        padding: 8px 5px;
        background-color: #fff;

        .dropdown-user-name {
          display: none;

          @media (max-width: 500px) {
            display: block;
            padding: 2px 10px;
            color: #707070;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .dropdown-item {
          transition: 300ms;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 2px 10px;

          &:hover {
            background-color: #F2F2F2;
            border-radius: 8px;
          }

          i {
            width: auto;
            font-size: 20px;
            margin-right: 8px;
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    height: 56px;
    padding: 0;

    .navbar-brand {
      margin: 0 auto;
      position: absolute;
      right: 0;
      left: 0;
      width: max-content;
    }
  }
}

.nav-width {
  height: 81px;

  @media (max-width: 991px) {
    height: 57px;
  }
}