@use 'variables' as vars;

.navbar-navigation {
  position: fixed;
  padding: 10px 0;
  border-radius: 0px 8px 8px 0px;
  background-color: #F2F2F2;
  width: 277px;
  height: calc(100vh - 80px);
  top: 81px;
  overflow-y: auto;
  z-index: 99;

  .list-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    .nav-link {
      padding: 0px;
      display: block;
      width: 90%;
      position: relative;
      margin: 2px 0 2px;

      a {
        text-decoration: none;
        cursor: pointer;
        color: #676a6c;
        font-size: 16px;
        transition: 300ms;
        width: 100%;
        padding: 8px;
        border-radius: 8px;
        font-weight: 500;
        display: flex;
        align-items: center;

        span {
          padding-left: 10px;
        }

        i {
          font-size: 20px;
        }

        &.active {
          color: #fff;
          background-color: vars.$primaryColor;
        }

        &:hover {
          color: #fff;
          background-color: vars.$primaryColor;
        }
      }

      .second-link {
        padding-left: 31px;
        display: block;

        a {
          font-size: 14px;

          &.active,
          &:hover {
            color: vars.$primaryColor;
            background-color: inherit;
          }

          &:hover {
            opacity: 0.9;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 95%;
        height: 1px;
        border-radius: 1px;
        background-color: #B5B5B5;
      }

    }

    .collapse {
      overflow: hidden;
      list-style-type: none;
      padding-left: 15px;

      &.show {
        display: block;
      }

      &.hide {
        display: none;
      }
    }
  }

  @media (max-width: 991px) {
    top: 57px;
    height: calc(100vh - 56px);
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #C9D4E4;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background: #F2F2F2;
  }
}

@media (max-width: 991px) {
  .nav-after {
    width: 100%;
    position: fixed;
    top: 57px;
    transition: 0.3s;
    z-index: 99;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      background: #2E2E2E;
      opacity: 0.61;
      z-index: 99;
    }
  }
}

.custom-collapse {
  transition: max-width 0.2s ease-in-out, padding 0.2s ease-in-out;
  max-width: 0;
  padding: 0;
}

.custom-collapse.collapsed {
  max-width: 277px;
}