// Basic Colors
$primaryColor: #7581a3; // Primary color
$defaultColor: #F2F2F2; // Default color
$successColor: #1c84c6; // Success color
$infoColor: #23c6c8; // Info color
$warningColor: #f8ac59; // Warning color
$dangerColor: #ed5565; // Danger color

// Various colors
$text-color: #676a6c; // Body text
$gray: #E7E9EF; // Background wrapper color]
$medium-gray: #f3f3f4;
$light-gray: #d1dade; // Default label, badge
$label-badge-color: #5e5e5e;
$light-blue: #f3f6fb;

// Spinner color and margin
$spin-color: $primaryColor;
$spin-margin: 0 auto;

//Basics
$basic-link-color: #337ab7;
$border-color: #e7eaec; // IBox border


// Assets path
$asset-path: '~/assets/images';

//Border radius for buttons
$btn-border-radius: 8px;

//Navigation
$nav-bg: #2f4050;
$nav-text-color: #a7b1c2;
