<div [ngClass]="{'nav-after': !menuActived}"></div>
<nav id="navbarNavigation" class="navbar-navigation custom-collapse" [ngClass]="{'collapsed': !menuActived}">
  <ul class="list-links">
    <li class="nav-link">
      <a href="#" (click)="toggleCollapsed('cadastro', $event)" [attr.aria-expanded]="isCollapsed['cadastro']" [ngClass]="{'active': activeRoute('cadastro')}" aria-controls="collapseEvent">
        Cadastro
      </a>
      <ul [collapse]="!isCollapsed['cadastro']" [isAnimated]="true" class="list-unstyled">
        <li class="second-link"><a [routerLink]="['/gestao-financeira/cadastro/nota-fiscal']" [ngClass]="{'active': activeRoute('/gestao-financeira/cadastro/nota-fiscal')}">Nota Fiscal</a></li>
        <li class="second-link"><a [routerLink]="['/gestao-financeira/cadastro/receita-despesa']" [ngClass]="{'active': activeRoute('/gestao-financeira/cadastro/receita-despesao')}">Receita/Despesa</a></li>
      </ul>
    </li>
    <li class="nav-link">
      <a [routerLink]="['/gestao-financeira/lista-compras']" [ngClass]="{'active': activeRoute('/gestao-financeira/lista-compras')}">Lista de Compras</a>
    </li>
  </ul>
</nav>