// Importing Bootstrap SCSS file.
@use "bootstrap/scss/bootstrap";
@use "bootstrap-icons/font/bootstrap-icons.scss";

//Fonts
@use 'imports/fonts';

// Variables, Mixins
@use 'imports/variables' as vars;
@use 'imports/mixins';

//theme
@use 'imports/custon';
@use 'imports/buttons';
@use 'imports/navbar';
@use 'imports/navigation';
@use 'imports/ng-datepicker';
@use 'imports/table';
@use 'imports/forms';
@use 'imports/loading';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;


  body {
    color: vars.$text-color;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #C9D4E4;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background: #E7E9EF;
    }
  }
}