<div class="login">
  <div class="login-content">
    <div class="login-box p-4">
      <div class="text-center">
        <div class="d-flex justify-content-center">
          <img class="apm-logo" src="assets/images/procergsLogo.png" alt="Logo">
        </div>
        <h2 class="font-weight-bold">LOGIN</h2>
      </div>
      <div class="content-soe">
        <button type="button" (click)="login()">
          <img src="../../../../assets/images/marca_SOE.png" class="marca-soe" alt="SOE"/>

          <p><i>Identifique-se para entrar</i></p>
        </button>
      </div>

      <div class="text-right mt-3">
        <img class="me-3" width="auto" height="20" src="assets/images/procergsLogo.png" alt="Procergs Logo" />
        <small>&copy;{{date.getFullYear()}}</small>
      </div>
    </div>
  </div>