.container {
  padding-top: 20px;
  padding-right: 20px;
}

.boas-vindas {
  height: 50%;
  align-items: center;
}

.fomulario-login {
  height: 100%;
  margin-top: 20px;
  text-align: start;
  padding: 10px;
}

h2 {
  font-size: 48px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: bold;
}

.msg-boas-vindas {
  font-family: "Kdam Thmor Pro", sans-serif;
}

 .campo-login {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 15px;
  padding: 10px;
 }

 .label-login {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 20px;
  padding: 10px;
 }

 .botao-login {
  margin-top: 10px;
 }

 .alert {
  margin-top: 5px;
  padding: 10px;
 }