<section class="section-title">
  <h2>Exemplo de Lista</h2>
  <a class="btn btn-primary new-item" [routerLink]="['/exemplo/adicionar']">Novo</a>
</section>

<section class="section-list">
  <div class="table-conteiner">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Matrícula</th>
          <th>Aluno(a)</th>
          <th>Curso</th>
          <th>Ano</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of entity | paginate: {
        itemsPerPage: pagination.itemsPerPage,
        currentPage: pagination.currentPage,
        totalItems: entity.length}; track $index; let i = $index) {
        <tr>
          <th>{{ item.matricula }}</th>
          <td>
            {{ item.nome }}
          </td>
          <td>{{ item.curso | ExemploPipe }}</td>
          <td>{{ item.ano | number }}</td>
          <td>
            <div class="btn-action">
              <a routerLink="/exemplo/{{item.id}}"><i class="bi bi-pencil-square" tooltip="Editar" placement="bottom"></i></a>
              <button class="delete" (click)="confirmDelete(item.id)"><i class="bi bi-trash" tooltip="Excluir" placement="bottom"></i></button>
            </div>
          </td>
        </tr>
        }
        <tr *ngIf="!entity?.length" class="border-b-radius">
          <td colspan="5" class="text-center">Nenhum cadastrado encontrado.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination [pagination]="pagination" [totalItems]="entity.length"></app-pagination>
</section>